* {
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/*background color for header footer and hero*/
.header,
.footer,
.hero,
.header-container,
.hero-container {
  background-color: #1f2937;
  flex: 1;
}

/*center container content*/
.header-container,
.hero-container,
.info-container,
.quote-container,
.cta-container {
  display: flex;
  justify-content: center;
}

/*content width*/
.header,
.hero,
.card-container,
.quote,
.cta {
  max-width: 1000px;
}

/*FONTS*/

/*font for logo*/
.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 600;
}

/*font for header links, footer, hero subtext*/
.header a,
.footer,
.hero p {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

/* font for hero main text*/
.hero h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  margin: 0;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.links {
  display: flex;
  gap: 16px;
}

/*getting the hero lined up how I wanted has been the most challenging part so far, my major issue was with getting the image sized correctly and maintaining it's aspect ratio, with the text  
also sizing itself aprropriately and remaining dynamic. I made compromises with aligning the top and bottom of the text of ".hero .left" with the ".hero img" in order for it to be more dynamic, 
easier to modify in the future, and accommodate a larger variety of image sizes and aspect ratios, rather than abritrarily hard coding the sizes of each div
it could be simplified by changing "space-evenly" in ".hero .left"  to flex-start and set a gap, however it wouldn't be the look I was trying to achieve*/
.hero {
  display: flex;
  align-items: stretch;
  padding: 110px 0;
  gap: 32px;
}

.hero .left {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.hero img {
  height: 100%;
  flex: auto;
}

.hero p {
  margin: 0;
}

/*color and border radius for button and cta*/
.hero button,
.cta,
.cta button {
  background-color: #3882f6;
  border-radius: 5px;
}

.hero a {
  padding: 6px 32px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.hero button {
  border: none;
  padding: 6px 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 100px;
}

/*info heading font*/
.info-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-top: 0px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;
  gap: 8px;
}

/*make the card div and image the same width*/
.card,
.card img {
  width: 150px;
}

.card img {
  height: auto;
}
.card p {
  text-align: center;
  margin: 0;
}

.card img {
  border: 3px solid #3882f6;
  border-radius: 8px;
}

/*quote background color*/
.quote-container,
.quote {
  background-color: #e5e7eb;
}

.quote,
.quotee,
.quote .text {
  padding: 0;
  margin: 0;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 110px 0;
}

.quote .quotee {
  align-self: flex-end;
  padding-right: 64px;
  font-size: 32px;
  color: #1f2937;
}

.quote .text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.cta-container {
  padding: 100px 0;
}

.cta {
  width: 1000px;
  display: flex;
  padding: 42px 150px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.cta a {
  padding: 8px 32px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.cta button {
  padding: 6px;
  border: white 2px solid;
}

.cta p,
.cta h2 {
  padding: 0;
  margin: 0;
}

.cta h2 {
  color: #f9faf8;
  margin-bottom: 3px;
}

.cta p {
  color: #e5e7eb;
}

.footer {
  text-align: center;
  padding: 32px;
}
